<html>
<head></head>
<body>
<form method="post" action="/intro" >
<br/>
<br/>
<br/>
<center><p>A.I 인터뷰에 오신것을 환영합니다.</p></center>
<center><p>다음 진행에 잘 따라주세요.</p></center>
<br/>
<br/>
<table>
 <tr>
  <td>이름</td>
  <td><input type = "text" name = "name"></td>
 </tr>
 <tr>
  <td>지원부서</td>
  <td><input type = "text" name = "buser"></td>
 </tr>
 <tr>
  <td>전화번호</td>
  <td><input type = "text" name = "cell"></td>
 </tr>
</table>
<br/>
<button type="submit">다음</button>
</form>
</body>
</html>