<html>
<head></head>
<body>
<form method="post" action="/step" >
<br/>
<br/>
<br/>
<center><p>step1</p></center>
<center><p>설문조사에 임해주세요. </p></center>
<br/>
<br/>
<table>
 <tr>
  <td>1번 항목</td>
  <td>체크박스 1,2,3,4</td>
 </tr>
 <tr>
  <td>2번 항목</td>
  <td>체크박스 1,2,3,4</td>
 </tr>
 <tr>
  <td>3번 항목</td>
  <td>체크박스 1,2,3,4</td>
 </tr>
 <tr>
  <td>4번 항목</td>
  <td>체크박스 1,2,3,4</td>
 </tr>
 <tr>
  <td>5번 항목</td>
  <td>체크박스 1,2,3,4</td>
 </tr>
</table>
<br/>
<br />
<button type="submit">다음</button>
</form>
</body>
</html>
